body{
    font-family: 'Inter', sans-serif !important;
}
/* ==================== Navbar ==================== */

.navbar{
    background-color: #17191A !important;
    font-weight: 300;
    position:relative
}
.navbar .logo{
    height: 0;
    width: 167px;
}

.logo > img {
    position:absolute;
    top:0
}

.nav-link {
    color: #fff !important;
}
.nav-btn{
    color: #fff;
    background-color:#2E373C;
}
.nav-btn:hover{
    color:#2E373C ;
    background-color:#fff;
}
.navbar-brand{
    position: absolute;
    z-index: 1;
    color:#fff;
}
.navbar-lang-spanish,.navbar-lang-english {
    font-weight: 400;
    text-decoration:none;
}
.navbar-lang-spanish{
    color:#fff;
}
.navbar-lang-spanish:hover{
    color:#AEAEAE;
}
.navbar-lang-english{
    color:#AEAEAE;
}

.navbar-lang-english:hover{
    color:#fff;
}
.burger-menu{
    color:#fff;
    cursor: pointer;
}

/* ==================== Hero ==================== */
.main-text {
    color:#ffff;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 5px;
 }

.main-title{
    font-size: 18px;
    font-weight: 300;
}
.main-title-course{
    font-size: 40px;
    font-weight: 600;
}
.main-description{
    font-size: 16px;
    font-weight: 300;
}

.jumbotron {
    background-image: url(/img/Hero_1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }


@media (max-width: 988px){
    .logo img {
        width: 78px;
        height: 70px;
    }
    /* .navbar {
        position:absolute;
    } */

    .navbar-collapse {
        padding-top: 50px;
    }

    .navbar-toggler {
        background-color:#fff !important;
    }

    /* ==================== Hero ==================== */

    .jumbotron{
        background-image: linear-gradient(to bottom, transparent, #000), url(/img/Hero_xs.jpg);
        display: flex;
        align-items: end !important;
    }

    .main-text{
        background-color: transparent;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-end;
        text-align: left;
        padding: 2px !important;
    }

    .main-title{
        text-align: left;
        font-size: 18px;
    }
    .main-title-course{
        font-size: 32px;
    }
    .main-description{
        font-size: 16px;
        padding-bottom: 50px;
    }

}